# When executing the following npm command
#
# npm i package
#
# Npm writes a dynamic version in the package.json:
#
# "dependencies": {
#   "package": "^1.0.0"
# }
#
# This can be a problem because two npm install can download a
# different version. This creates non determinism between each npm install.
# save-exact=true forces the exact version in package.json:
# Npm will write "1.0.0" instead of "^1.0.0"
save-exact=true